// main: ./main.less

.content {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #d8e4ef;
}
.content__wrapper{

}
.content__wraper-title {
    border: solid rgb(165, 162, 162) 1px;
    padding: 20px;
    background: rgb(248, 245, 241);
    width: 350px;
    height: 110px;
    box-shadow: 3px 3px 8px #949393;
    text-align: center;

}
.content__title {
    line-height: 1.5;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;

}
.content__wraper-item {
    border: solid rgb(165, 162, 162) 1px;
    padding: 40px 40px 70px 40px;
    background: rgb(248, 245, 241);
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px #949393;
}
.content__wraper-img {
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #949393;
}
.content__wraper-text {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    text-align: left;
    color: rgb(73, 66, 66);
}

